*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.row {
	width:100%;
}
nav.main-nav {
	min-height: 60px;
	line-height:60px;
	background:#193441;
}
nav.main-nav .brand {
  float: left;
  margin-left: 20px;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}
nav.main-nav ul {
  list-style: none;
  float: right;
}

nav.main-nav ul li {
  float: left;
  margin: 0px 15px;
}

nav.main-nav ul li a {
	text-decoration: none;
  font-size: 20px;
  color: #fff;
 	position: relative;
}

.main-header {
   background-color: #417797;
   color: white;
   font-size: 35px;
   padding: 50px 0px;
   text-align: center;
   border: 12px double #fff;
}
div {
	display:block;
}
.col {
    width: 31.33%;
    margin: 1%;
    float: left;
    padding: 15px;
    font-size:20px;
    line-height:25px;
}
.img-100 {
    width: 100%;
}

.col:hover img{
	filter:grayscale(50%);
}

